


# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# User-specific files
################################################################################
################################################################################
*.rsuser
*.sln.docstates
*.suo
*.user
*.userosscache
/.vs
/JEO3.API/bin
/JEO3.API/obj
/JEO3.Code/bin
/JEO3.Code/obj
/JEO3.Console/bin
/JEO3.Console/obj
/JEO3.Core/bin
/JEO3.Core/obj
/JEO3.Diagrams/bin
/JEO3.Diagrams/obj
/JEO3.Engine/bin
/JEO3.Engine/obj
/JEO3.Extensions/bin
/JEO3.Extensions/obj
/JEO3.Generation.Models/bin
/JEO3.Generation.Models/obj
/JEO3.Generation/bin
/JEO3.Generation/obj
/JEO3.IO/bin
/JEO3.IO/obj
/JEO3.Logging/bin
/JEO3.Logging/obj
/JEO3.Monitor.Charts/bin
/JEO3.Monitor.Charts/obj
/JEO3.Monitor/bin
/JEO3.Monitor/obj
/JEO3.Providers.Catalogs/bin
/JEO3.Providers.Catalogs/obj
/JEO3.Providers.Extensions/bin
/JEO3.Providers.Extensions/obj
/JEO3.Providers/bin
/JEO3.Providers/obj
/JEO3.Schema/bin
/JEO3.Schema/obj
/JEO3.Site/bin
/JEO3.Site/obj
/Properties/PublishProfiles
/bin
/dotnet-tools.json
/obj
/JEO3.API/Properties/PublishProfiles
/JEO3.API/Properties/launchSettings.json
/JEO3.Site/Properties/PublishProfiles
/JEO3.Site/Properties/launchSettings.json
