.fa-ml2{
    margin-left:2px;
}
.fa-ml3 {
    margin-left: 3px;
}
.fa-ml5 {
    margin-left: 5px;
}
.fa-ml7 {
    margin-left: 7px;
}
.fa-ml10 {
    margin-left: 10px;
}
.fa-ml12 {
    margin-left: 12px;
}
.fa-ml15 {
    margin-left: 15px;
}
/* */
.fa-mr2 {
    margin-right: 2px;
}

.fa-mr3 {
    margin-right: 3px;
}

.fa-mr5 {
    margin-right: 5px;
}

.fa-mr7 {
    margin-right: 7px;
}

.fa-mr10 {
    margin-right: 10px;
}

.fa-mr12 {
    margin-right: 12px;
}

.fa-mr15 {
    margin-right: 15px;
}
/* */
.fa-mt2 {
    margin-top: 2px;
}

.fa-mt3 {
    margin-top: 3px;
}

.fa-mt5 {
    margin-top: 5px;
}

.fa-mt7 {
    margin-top: 7px;
}

.fa-mt10 {
    margin-top: 10px;
}

.fa-mt12 {
    margin-top: 12px;
}

.fa-mt15 {
    margin-top: 15px;
}
/* */
.fa-mb2 {
    margin-bottom: 2px;
}

.fa-mb3 {
    margin-bottom: 3px;
}

.fa-mb5 {
    margin-bottom: 5px;
}

.fa-mb7 {
    margin-bottom: 7px;
}

.fa-mb10 {
    margin-bottom: 10px;
}

.fa-mb12 {
    margin-bottom: 12px;
}

.fa-mb15 {
    margin-bottom: 15px;
}



.fa-pl2 {
    padding-left: 2px;
}

.fa-pl3 {
    padding-left: 3px;
}

.fa-pl5 {
    padding-left: 5px;
}

.fa-pl7 {
    padding-left: 7px;
}

.fa-pl10 {
    padding-left: 10px;
}

.fa-pl12 {
    padding-left: 12px;
}

.fa-pl15 {
    padding-left: 15px;
}
/* */
.fa-pr2 {
    padding-right: 2px;
}

.fa-pr3 {
    padding-right: 3px;
}

.fa-pr5 {
    padding-right: 5px;
}

.fa-pr7 {
    padding-right: 7px;
}

.fa-pr10 {
    padding-right: 10px;
}

.fa-pr12 {
    padding-right: 12px;
}

.fa-pr15 {
    padding-right: 15px;
}
/* */
.fa-pt2 {
    padding-top: 2px;
}

.fa-pt3 {
    padding-top: 3px;
}

.fa-pt5 {
    padding-top: 5px;
}

.fa-pt7 {
    padding-top: 7px;
}

.fa-pt10 {
    padding-top: 10px;
}

.fa-pt12 {
    padding-top: 12px;
}

.fa-pt15 {
    padding-top: 15px;
}
/* */
.fa-pb2 {
    padding-bottom: 2px;
}

.fa-pb3 {
    padding-bottom: 3px;
}

.fa-pb5 {
    padding-bottom: 5px;
}

.fa-pb7 {
    padding-bottom: 7px;
}

.fa-pb10 {
    padding-bottom: 10px;
}

.fa-pb12 {
    padding-bottom: 12px;
}

.fa-pb15 {
    padding-bottom: 15px;
}